*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
    position: relative;
}
#main{
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}

/* ======== Right section ========= */
#right{
    /* height: 100%; */
    /* border: 1px solid red; */
    width: 50%;
    /* padding: 50px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    
    
}
#right>h3{
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(34, 79, 58);
    color: rgb(34, 79, 58);
}
#right::-webkit-scrollbar{
    display: none;
}
/* ============ allsongs list section ========== */
#allsongs{
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.song-card{
    /* scale:2; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(34, 79, 58);
    padding: 10px 15px;
}
.song-card:hover{
    cursor: pointer;
}
.song-card h3{
    font-size: 0.7rem;
    font-weight: lighter;
}
.part1{
    display: flex;
    align-items: center;

}
.part1 img{
    height: 40px;
    width: 40px;
    transition: .3s;
}
.part1 h2{
    font-weight: 100;
    font-size: 1rem;
    padding: 10px;
    transition: .3s;
}
.song-card:hover h2{
    transform: translateX(10%);
}
.song-card:hover img{
    scale:1.5;
}

/* ========= play, pause button ========== */
#player{
    /* position: absolute;
    bottom: 0; */
    /* margin-bottom: 10px; */
    /* padding: 10px; */
    /* width: 100%; */
    /* gap: 10px; */
    /* backdrop-filter: blur(20px); */
    /* background: rgba(18, 73, 41, 0.168); */
    /* z-index: 11; */
}
#player h3{
    /* border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center; */
    /* border: 1px solid rgb(34, 79, 58); */
    /* color: white;
    cursor: pointer;
    transition: .5s; */
}
/* #play:hover{
    scale: 0.9;
}
#player h3:active{
    scale: 0.9;
}
#backward,#forward{
    scale: 0.7;
}
#backward:hover,#forward:hover{
    scale: 0.5;

} */
#users{
    position: absolute;
    right: 20px;
    border: 1px solid rgb(34, 79, 58);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
#users:hover{
    scale: 1.1;
}
#users ul{
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: -50%;
    list-style: none;
    transition: .5s;
    display: none;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background:rgba(34, 79, 58, 0.195) ;
    padding: 20px;
}
#users ul li{
    background: rgb(34, 79, 58);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    margin: 5px;
}
#users ul li:hover{
    scale: 0.8;
}
#repeate-text{
    text-transform: capitalize;
    font-size: 10px;
    position: absolute;
    top: -40%;
    left: -1%;
    transition: .5s;
    display: none;
}
#repeat-btn:hover #repeate-text{
    display: block;

}
/* =========progress bar======= */
#progress_div{
    width: 300px;
    height: 5px;
    background: rgba(255, 255, 255, 0.22);
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#progress_div:hover{
    cursor: pointer;
}
#progress{
    position: absolute;
    background: rgb(0, 161, 86);
    border-radius: 5px;
    width: 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: .4s;
}
#circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(4, 255, 138);
    position: absolute;
    right: 0;
    transition: .4s;

}
#progress_div:hover #circle{
    scale: 1.5;
}
#start-time{
    position: relative;
    left: -13%;
}
#end-time{
    position: relative;
    right: -13%;
}
#start-time,#end-time{
    font-size: 10px;
    
}

/* ====== responsive ========= */
@media (max-width:1000px){

    #main{
        padding: 0;
        /* flex-direction: column; */
    }
    #left{
        width: 100%;
        height: fit-content;
        /* background:transparent; */
        border-radius: 25px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        animation: animate .5s linear;
    }
    #left .img img{
        width: 200px;
    }
    #right{
        padding: 5px 10px;
        width: 100%;
    }

}
@media (max-width:500px) {
    
    #left .img img{
        width: 100px;
    }
    #dname{
        font-size: 13px;
    }
    #left .img{
        border: none;
        flex-direction: column;
        gap: 10px;
    }
    #progress_div{
        width: 200px;
    }
    #start-time{
        left: -20%;
    }
    #end-time{
        right: -20%;
    }
    
    
}